In [1]:
from src.mtal.data_collect import get_spot_pairs

cryptos = get_spot_pairs()

        //@version=5
        indicator("Manual Trades", overlay=true)

        var int[] entryDates = array.new_int()
        var int[] exitDates = array.new_int()


        array.push(entryDates, 1513555199999)
        array.push(entryDates, 1517788799999)
        array.push(exitDates, 1519603199999)
        array.push(exitDates, 1520812799999)

        for i = 0 to array.size(exitDates) - 1
            label.new(x=array.get(entryDates, i), xloc=xloc.bar_time, y=close, yloc=yloc.belowbar, color=color.green, textcolor=color.white, style=label.style_label_up)
            label.new(x=array.get(exitDates, i), xloc=xloc.bar_time, y=close, yloc=yloc.abovebar, color=color.red, textcolor=color.white, style=label.style_label_down)

In [2]:
from src.mtal.data_collect import get_pair_df

df = get_pair_df(pair="LTCUSDT")
df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time
0,2017-12-11,272.00,330.00,239.99,311.40,59561.28759,2017-12-17 23:59:59.999
1,2017-12-18,311.23,366.96,177.58,262.90,251577.24855,2017-12-24 23:59:59.999
2,2017-12-25,262.90,284.34,193.20,223.69,223926.94979,2017-12-31 23:59:59.999
3,2018-01-01,223.69,315.00,212.74,269.01,442699.93154,2018-01-07 23:59:59.999
4,2018-01-08,269.01,271.82,195.03,234.12,435643.98700,2018-01-14 23:59:59.999

In [9]:
from src.mtal.utils import generate_pinescript
from src.mtal.backtesting.ema_cross_backtest import EMACrossBacktester 

short_ema = 1 
long_ema = 9 
tester = EMACrossBacktester(
    short_ema=short_ema, long_ema=long_ema, data=df
)
results = tester.run()

entry_dates = [int(entry_date.timestamp() * 1000) for entry_date in results.entry_dates]
exit_dates = [int(exit_date.timestamp() * 1000) for exit_date in results.exit_dates]

print(generate_pinescript(entry_dates, exit_dates))

        //@version=5
        indicator("Manual Trades", overlay=true)

        var int[] entryDates = array.new_int()
        var int[] exitDates = array.new_int()


        array.push(entryDates, 1518998399999)
        array.push(entryDates, 1525651199999)
        array.push(entryDates, 1546819199999)
        array.push(entryDates, 1549843199999)
        array.push(entryDates, 1573430399999)
        array.push(entryDates, 1578873599999)
        array.push(entryDates, 1588550399999)
        array.push(entryDates, 1590969599999)
        array.push(entryDates, 1594598399999)
        array.push(entryDates, 1595807999999)
        array.push(entryDates, 1602460799999)
        array.push(entryDates, 1603670399999)
        array.push(entryDates, 1629071999999)
        array.push(entryDates, 1633910399999)
        array.push(entryDates, 1648425599999)
        array.push(entryDates, 1659916799999)
        array.push(entryDates, 1662335999999)
        array.push(entryDates, 1667174399999)
        array.push(entryDates, 1668988799999)
        array.push(entryDates, 1672012799999)
        array.push(entryDates, 1679875199999)
        array.push(entryDates, 1684713599999)
        array.push(entryDates, 1687737599999)
        array.push(entryDates, 1698623999999)
        array.push(entryDates, 1704067199999)
        array.push(entryDates, 1705881599999)
        array.push(entryDates, 1707695999999)
        array.push(exitDates, 1520812799999)
        array.push(exitDates, 1526255999999)
        array.push(exitDates, 1547423999999)
        array.push(exitDates, 1563148799999)
        array.push(exitDates, 1574035199999)
        array.push(exitDates, 1583107199999)
        array.push(exitDates, 1589155199999)
        array.push(exitDates, 1592179199999)
        array.push(exitDates, 1595203199999)
        array.push(exitDates, 1599436799999)
        array.push(exitDates, 1603065599999)
        array.push(exitDates, 1621814399999)
        array.push(exitDates, 1632095999999)
        array.push(exitDates, 1638143999999)
        array.push(exitDates, 1649635199999)
        array.push(exitDates, 1661126399999)
        array.push(exitDates, 1663545599999)
        array.push(exitDates, 1668383999999)
        array.push(exitDates, 1671407999999)
        array.push(exitDates, 1678665599999)
        array.push(exitDates, 1682294399999)
        array.push(exitDates, 1686527999999)
        array.push(exitDates, 1691366399999)
        array.push(exitDates, 1702857599999)
        array.push(exitDates, 1704671999999)
        array.push(exitDates, 1706486399999)
        array.push(exitDates, 1713139199999)

        for i = 0 to array.size(exitDates) - 1
            label.new(x=array.get(entryDates, i), xloc=xloc.bar_time, y=close, yloc=yloc.belowbar, color=color.green, textcolor=color.white, style=label.style_label_up)
            label.new(x=array.get(exitDates, i), xloc=xloc.bar_time, y=close, yloc=yloc.abovebar, color=color.red, textcolor=color.white, style=label.style_label_down)

In [ ]:
list([int(i) for i in df['Close Time'].astype(int) / 10**6])

[1513555199999,
 1514159999999,
 1514764799999,
 1515369599999,
 1515974399999,
 1516579199999,
 1517183999999,
 1517788799999,
 1518393599999,
 1518998399999,
 1519603199999,
 1520207999999,
 1520812799999,
 1521417599999,
 1522022399999,
 1522627199999,
 1523231999999,
 1523836799999,
 1524441599999,
 1525046399999,
 1525651199999,
 1526255999999,
 1526860799999,
 1527465599999,
 1528070399999,
 1528675199999,
 1529279999999,
 1529884799999,
 1530489599999,
 1531094399999,
 1531699199999,
 1532303999999,
 1532908799999,
 1533513599999,
 1534118399999,
 1534723199999,
 1535327999999,
 1535932799999,
 1536537599999,
 1537142399999,
 1537747199999,
 1538351999999,
 1538956799999,
 1539561599999,
 1540166399999,
 1540771199999,
 1541375999999,
 1541980799999,
 1542585599999,
 1543190399999,
 1543795199999,
 1544399999999,
 1545004799999,
 1545609599999,
 1546214399999,
 1546819199999,
 1547423999999,
 1548028799999,
 1548633599999,
 1549238399999,
 1549843199999,
 1550447999999,
 1551052799999,
 1551657599999,
 1552262399999,
 1552867199999,
 1553471999999,
 1554076799999,
 1554681599999,
 1555286399999,
 1555891199999,
 1556495999999,
 1557100799999,
 1557705599999,
 1558310399999,
 1558915199999,
 1559519999999,
 1560124799999,
 1560729599999,
 1561334399999,
 1561939199999,
 1562543999999,
 1563148799999,
 1563753599999,
 1564358399999,
 1564963199999,
 1565567999999,
 1566172799999,
 1566777599999,
 1567382399999,
 1567987199999,
 1568591999999,
 1569196799999,
 1569801599999,
 1570406399999,
 1571011199999,
 1571615999999,
 1572220799999,
 1572825599999,
 1573430399999,
 1574035199999,
 1574639999999,
 1575244799999,
 1575849599999,
 1576454399999,
 1577059199999,
 1577663999999,
 1578268799999,
 1578873599999,
 1579478399999,
 1580083199999,
 1580687999999,
 1581292799999,
 1581897599999,
 1582502399999,
 1583107199999,
 1583711999999,
 1584316799999,
 1584921599999,
 1585526399999,
 1586131199999,
 1586735999999,
 1587340799999,
 1587945599999,
 1588550399999,
 1589155199999,
 1589759999999,
 1590364799999,
 1590969599999,
 1591574399999,
 1592179199999,
 1592783999999,
 1593388799999,
 1593993599999,
 1594598399999,
 1595203199999,
 1595807999999,
 1596412799999,
 1597017599999,
 1597622399999,
 1598227199999,
 1598831999999,
 1599436799999,
 1600041599999,
 1600646399999,
 1601251199999,
 1601855999999,
 1602460799999,
 1603065599999,
 1603670399999,
 1604275199999,
 1604879999999,
 1605484799999,
 1606089599999,
 1606694399999,
 1607299199999,
 1607903999999,
 1608508799999,
 1609113599999,
 1609718399999,
 1610323199999,
 1610927999999,
 1611532799999,
 1612137599999,
 1612742399999,
 1613347199999,
 1613951999999,
 1614556799999,
 1615161599999,
 1615766399999,
 1616371199999,
 1616975999999,
 1617580799999,
 1618185599999,
 1618790399999,
 1619395199999,
 1619999999999,
 1620604799999,
 1621209599999,
 1621814399999,
 1622419199999,
 1623023999999,
 1623628799999,
 1624233599999,
 1624838399999,
 1625443199999,
 1626047999999,
 1626652799999,
 1627257599999,
 1627862399999,
 1628467199999,
 1629071999999,
 1629676799999,
 1630281599999,
 1630886399999,
 1631491199999,
 1632095999999,
 1632700799999,
 1633305599999,
 1633910399999,
 1634515199999,
 1635119999999,
 1635724799999,
 1636329599999,
 1636934399999,
 1637539199999,
 1638143999999,
 1638748799999,
 1639353599999,
 1639958399999,
 1640563199999,
 1641167999999,
 1641772799999,
 1642377599999,
 1642982399999,
 1643587199999,
 1644191999999,
 1644796799999,
 1645401599999,
 1646006399999,
 1646611199999,
 1647215999999,
 1647820799999,
 1648425599999,
 1649030399999,
 1649635199999,
 1650239999999,
 1650844799999,
 1651449599999,
 1652054399999,
 1652659199999,
 1653263999999,
 1653868799999,
 1654473599999,
 1655078399999,
 1655683199999,
 1656287999999,
 1656892799999,
 1657497599999,
 1658102399999,
 1658707199999,
 1659311999999,
 1659916799999,
 1660521599999,
 1661126399999,
 1661731199999,
 1662335999999,
 1662940799999,
 1663545599999,
 1664150399999,
 1664755199999,
 1665359999999,
 1665964799999,
 1666569599999,
 1667174399999,
 1667779199999,
 1668383999999,
 1668988799999,
 1669593599999,
 1670198399999,
 1670803199999,
 1671407999999,
 1672012799999,
 1672617599999,
 1673222399999,
 1673827199999,
 1674431999999,
 1675036799999,
 1675641599999,
 1676246399999,
 1676851199999,
 1677455999999,
 1678060799999,
 1678665599999,
 1679270399999,
 1679875199999,
 1680479999999,
 1681084799999,
 1681689599999,
 1682294399999,
 1682899199999,
 1683503999999,
 1684108799999,
 1684713599999,
 1685318399999,
 1685923199999,
 1686527999999,
 1687132799999,
 1687737599999,
 1688342399999,
 1688947199999,
 1689551999999,
 1690156799999,
 1690761599999,
 1691366399999,
 1691971199999,
 1692575999999,
 1693180799999,
 1693785599999,
 1694390399999,
 1694995199999,
 1695599999999,
 1696204799999,
 1696809599999,
 1697414399999,
 1698019199999,
 1698623999999,
 1699228799999,
 1699833599999,
 1700438399999,
 1701043199999,
 1701647999999,
 1702252799999,
 1702857599999,
 1703462399999,
 1704067199999,
 1704671999999,
 1705276799999,
 1705881599999,
 1706486399999,
 1707091199999,
 1707695999999,
 1708300799999,
 1708905599999,
 1709510399999,
 1710115199999,
 1710719999999,
 1711324799999,
 1711929599999,
 1712534399999,
 1713139199999,
 1713743999999]